@font-face {
  font-family: "Noto Sans CJK JP Regular";
  src: url("~@static/fonts/NotoSansCJKJP/NotoSansCJKjp-Regular.otf")
    format("opentype");
}
html{
  -webkit-app-region: drag;
  -webkit-user-select: none;
}
body {
  font-family: "Noto Sans CJK JP Regular" !important;
  margin: 0 0 0 0;
  background-color: #f5f5f5;
}

h2 {
  text-align: center;
  font-size: 2vw;
}

h3 {
  font-size: 1.5vw;
  transform: translateX(0.3vw);
  margin: 0 0 0.8vh 0;
}
